<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <style>
        .login{
            background-color: yellowgreen;
            color: white;
            padding: 10px;
            text-decoration: none;
            border-radius: 10px;
            margin-top: 10px;
            border: none;
        }
    </style>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <input type='text' placeholder="USERNAME..." name="u"/>
        <input type='password' placeholder="PASSWORD..." name="p"/>

        <input type='submit' class='login'/>
    </form>
    <a href="{% url 'registerPage' %}">Register</a>
</body>
</html>